{# For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts #} {% extends
"govuk-prototype-kit/layouts/govuk-branded.njk" %} {% from
"govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %} {%
from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} {% set
govukRebrand = true %} {% block header %} {% set providerName %}
<li class="govuk-service-navigation__item" style="margin-left: auto">
  <a class="govuk-service-navigation__link" href="#">Sign out</a>
</li>
{% endset %}
<!-- Custom provider nav (taken from live) -->
<div class="top-bar">
  <div class="govuk-width-container">
    <div class="top-bar__inner">
      <div>Viewing as Demo Provider (UKPRN: 90000000)</div>
      <div class="govuk-!-display-none-print">
        <span class="top-bar__divider"></span>
        <a href="#">Change Provider</a>
      </div>
    </div>
  </div>
</div>

{{ govukHeader({ rebrand: true }) }} 

<div class="govuk-!-display-none-print">
  {{ govukServiceNavigation({ 
  serviceName: "Manage your education and skills funding",
  serviceUrl: fallbackPage or "/../index.html",
  navigation: [
    { 
      href: fallbackPage or "/../index.html",
      text: "View your sub-services"
    },
    {
      href: fallbackPage or "/../index.html",
      text: "Sign out"
    }
  ] 
}) }}
</div>

<div class="govuk-width-container">
  {{ govukPhaseBanner({ tag: { text: "Prototype" }, html: 'This service is a place
  to rapidly experiment and should not be shared more widely outside of user
  research.' }) }}
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}