{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block
beforeContent %} {% from "govuk/components/breadcrumbs/macro.njk" import
govukBreadcrumbs %} {{ govukBreadcrumbs({ items: [ { text: "Home", href: "#" },
{ text: "Allocation statements", href: "#" } ] }) }} {% endblock %} {% block
content %}

<div class="govuk-grid-row">
  <!-- LEFT HAND COLUMN -->
  <div class="govuk-grid-column-two-thirds">
    <!-- Heading with caption -->
    <h1 class="govuk-heading-xl">Adult skills fund (grant) for 2526</h1>
    <h2 class="govuk-caption-l">Total 2526 allocation</h2>
    <span class="govuk-heading-l">£4267671.00</span>
    <!-- Table 1 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "Summary allocation - Adult skills fund (grant)",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Allocation"
        },
        {
          text: "	Amount"
        }
      ],
      rows: [
        [
          {
            text: "Aug_Mar"
          },
          {
            text: "£2845256.23"
          }
        ],
        [
          {
            text: "Apr_Jul"
          },
          {
            text: "£1422414.77"
          }
        ],
        [
          {
            text: "Total"
          },
          {
            text: "£4267671.00",
            classes: "govuk-!-font-weight-bold"
          }
        ]
      ]
    }) }}
    <!-- Table 2 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Detailed allocation - Adult skills fund (grant)",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Funding type"
          },
          {
            text: "Amount"
          }
        ],
        rows: [
          [
            {
              text: "adult skills core aug_mar"
            },
            {
              text: "£1305059.89"
            }
          ],
          [
            {
              text: "adult skills core apr_jul"
            },
            {
              text: "£652432.11"
            }
          ],
          [
            {
              text: "tailored learning total aug_mar"
            },
            {
              text: "£1460970.37"
            }
          ],
          [
            {
              text: "tailored learning total apr_jul"
            },
            {
              text: "£730375.63"
            }
          ],
          [
            {
              text: "free courses for jobs aug_mar"
            },
            {
              text: "£79225.97"
            }
          ],
          [
            {
              text: "free courses for jobs apr_jul"
            },
            {
              text: "£39607.03"
            }
          ]
        ]
    }) }}
    <!-- Custom save or print this statement 'component' (taken from live site) -->
    <div
      class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-8"
    >
      <button
        class="govuk-link govuk-body-s gem-c-print-link__button"
        data-module="print-link"
        data-print-link-module-started="true"
      >
        Save or print this statement
      </button>
    </div>
  </div>
  <!-- RIGHT-HAND COLUMN-->
  <div class="govuk-grid-column-one-third">
    <!-- Custom related links 'component' (taken from live site) -->
    <div class="gem-c-contextual-sidebar govuk-!-display-none-print">
      <div
        class="gem-c-related-navigation govuk-!-display-none-print"
      >
        <h2
          id="related-nav-related_items-f0df1d9f"
          class="gem-c-related-navigation__main-heading"
        >
          Related content
        </h2>
        <nav
          class="gem-c-related-navigation__nav-section"
          aria-labelledby="related-nav-related_items-f0df1d9f"
          data-module="gem-toggle"
          data-gem-toggle-module-started="true"
        >
          <ul class="gem-c-related-navigation__link-list">
            <li class="gem-c-related-navigation__link">
              <a
                class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--other"
                data-ga4-link='{"event_name":"navigation","type":"related content","index_section":"1","index_link":"1","index_section_count":"1","index_total":"2","section":"Related content"}'
                href="#"
                >Funding and performance management rules</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
