{% extends "layouts/main.html" %} 
{% set pageName="Adult skills fund for academic year 2025 to 2026" %} 
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 

{% endblock %} 

{% block content %}

  <!-- Notification banner -->
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Service update
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__body">
      From 20 June 2026 you can access a combined view of allocation statements, payment schedules and payment histories for:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Adult skills fund</li>
      <li>Advanced learner loans</li>
    </ul>
    <p class="govuk-notification-banner__body">
      <a href="index" class="govuk-link govuk-link--no-visited-state">View funding information from 20 June 2026</a>
    </p>
  </div>
</div>

  <!-- Heading with caption -->
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Manage your education and skills funding</h1>

    
<div class="dfe-grid-container">
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="index-triage" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Allocation statements, payment schedules and payment histories
                </a>
            </h3>
            <p>View funding information</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="contracts-agreements" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Contracts and agreements
                </a>
            </h3>
            <p>View contracts</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Funding claims
                </a>
            </h3>
            <p>View claims and statements</p>
          </div>
          
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Subcontractor declaration
                </a>
            </h3>
            <p>Manage your declarations</p>
          </div>
          
      </div><div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Payment history
                </a>
            </h3>
            <p>View payments</p>
          </div>
        
          
      </div>
  </div>
  </div> 


   
{% endblock %}
