{% extends "layouts/main.html" %}

{% block pageTitle %}
  Choose funding information publishing date
{% endblock %}

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "myesf-dashboard" } ] }) }} 
{% endblock %} 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/triage-answer-v4" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "indexTriage",
  fieldset: {
    legend: {
      text: "Choose funding information publishing date",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "From 22 April 2026",
      text: "From 22 April 2026"
    },
    {
      value: "Before 22 April 2026",
      text: "Before 22 April 2026"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
