//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
  content: url(/public/images/department-for-education_black.png);
  height: 30px;
}

.dashboard-block {
    background-color: #E8F1F8;
}

.rowBorderList .rowBorders {
    border-bottom: 1px solid #B1B4B6;
}

.rowBorderList .rowBorders:first-of-type {
  border-top: 1px solid #B1B4B6;
}