{% extends "layouts/main.html" %} 
{% set pageName="Home" %} 

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "#" }, { text: "Allocation statements", href: "#" } ] }) }} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <!-- LEFT HAND COLUMN -->
  <div class="govuk-grid-column-full">
    <!-- Heading with caption -->
    <span class="govuk-caption-l">Published: 6 December 2024. <span><strong>Version 3</strong></span></span>
    <h1 class="govuk-heading-xl">Adult skills fund for academic year 2024 to 2025</h1>
    <h2 class="govuk-caption-l">Total allocation</h2>
    <span class="govuk-heading-l">£398,131.00</span>
    <!-- Table 1 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "Summary allocation",
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: true,
      head: [
        {
          text: "Description"
        },
        {
          text: "Amount",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "August 2025 to March 2026"
          },
          {
            text: "£265,473.75",
            format: "numeric"
          }
        ],
        [
          {
            text: "April 2026 to July 2026"
          },
          {
            text: "£132,657.25",
            format: "numeric"
          }
        ],
        [
          {
            text: "Total"
          },
          {
            text: "£398,131.00",
            classes: "govuk-!-font-weight-bold",
            format: "numeric"
          }
        ]
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <!-- Table 2 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Detailed allocation",
        captionClasses: "govuk-table__caption--m",
              classes: "govuk-!-margin-bottom-9",
        firstCellIsHeader: true,
        head: [
          {
            text: "Description"
          },
          {
            text: "August 2025 to March 2026",
            format: "numeric"
          },
          {
            text: "April 2026 to July 2026",
            format: "numeric"
          },
          {
            text: "Sub-total",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Of which ASF adult skills"
            },
            {
              text: "£213,208.63",
              format: "numeric"
            },
            {
              text: "£106,540.37",
              format: "numeric"
            },            
            {
              text: "£319,749.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Of which ASF tailored learning"
            },
            {
              text: "£39,988.64",
              format: "numeric"
            },
            {
              text: "£19,982.36",
              format: "numeric"
            },            
            {
              text: "£59,971",
              format: "numeric"
            }
          ],
          [
            {
              text: "Of which ASF innovative funding"
            },
            {
              text: "£7,830.93",
              format: "numeric"
            },
            {
              text: "£3,913.07",
              format: "numeric"
            },            
            {
              text: "£11,744",
              format: "numeric"
            }
          ],
          [
            {
              text: "Free courses for jobs"
            },
            {
              text: "£4,445.55",
              format: "numeric"
            },
            {
              text: "£2,221.45",
              format: "numeric"
            },            
            {
              text: "£6,667.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Adult skills contract"
            },
            {
              text: "£0",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            },            
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              text: "Adult skills learner support contract"
            },
            {
              text: "£0",
              format: "numeric"
            },
            {
              text: "£0",
              format: "numeric"
            },            
            {
              text: "£0",
              format: "numeric"
            }
          ],
          [
            {
              text: "Total"
            },
            {
              text: "£265,473.75",
              format: "numeric"
            },
            {
              text: "£132,657.25",
              format: "numeric"
            },            
            {
              text: "£398,131.00",
              format: "numeric"
            }
          ]
        ]
    }) }}
    </div>
    </div>
    <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-heading-l">Total academic year 2024 to 2025 allocation</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-heading-l right-align">£398,131.00</p>
  </div>
</div>
    <!-- Custom save or print this statement 'component' (taken from live site) -->
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        To find out more about Adult skills fund and how allocations are calculated, visit the GOV.UK website.
      </p>
    <h3 class="govuk-heading-m">
      Submit a business case
    </h3>
    <p class="govuk-body">
      You can <a href="#" class="govuk-link">submit a business case (opens in a new tab)</a> if you believe your funding allocation is incorrect.
    </p>
    <h3 class="govuk-heading-m">
      Allocation history
    </h3>
    <p class="govuk-body">
      <a class="govuk-link" href="#">
        View history of allocated funding
      </a>
    </p>
    <div
      class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-4">
      <button
        class="govuk-link govuk-body-s gem-c-print-link__button"
        data-module="print-link"
        data-print-link-module-started="true">
        Save or print this statement (PDF)
      </button>
    </div>
    <div
      class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-4">
      <button
        class="govuk-link govuk-body-s gem-c-print-link__button"
        data-module="print-link"
        data-print-link-module-started="true">
        Download this statement (CSV)
      </button>
    </div>
    <p>You may need a different format if you're using assistive technology. <a class="govuk-link" href="#">Request an accessible format</a></p>
  </div>

</div>
{% endblock %}
