{% extends "layouts/main.html" %} 
{% set pageName="Home" %} 

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "#" }, { text: "Allocation statements", href: "javascript:history.back()" } ] }) }} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <!-- LEFT HAND COLUMN -->
  <div class="govuk-grid-column-full">
    <!-- Heading with caption -->
    <span class="govuk-caption-l">Published: 12 February 2026. <span><strong>Version
          2 </strong></span><span><strong class="govuk-tag" style="display: inline; margin-left: 5px;">Latest</strong></span></span>
    <h1 class="govuk-heading-xl">Adult skills fund for academic year 2025 to 2026</h1>
    <h2 class="govuk-caption-l">Total allocation</h2>
    <span class="govuk-heading-l">£2,673,919.00</span>
    <!-- Table 1 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "Summary allocation",
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: true,
      head: [
        {
          text: "Funding period"
        },
        {
          text: "Sub-total",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "August 2025 to March 2026"
          },
          {
            text: "£1,782,701.46",
            format: "numeric"
          }
        ],
        [
          {
            text: "April 2026 to July 2026"
          },
          {
            text: "£891,217.54",
            format: "numeric"
          }
        ]
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <!-- Table 2 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Detailed breakdown",
        captionClasses: "govuk-table__caption--m",
              classes: "govuk-!-margin-bottom-9",
        firstCellIsHeader: true,
        head: [
          {
            text: "Funding line item"
          },
          {
            text: "August 2025 to March 2026",
            format: "numeric"
          },
          {
            text: "April 2026 to July 2026",
            format: "numeric"
          },
          {
            text: "Sub-total",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Adult skills core"
              
            },
            {
              text: "£1,511,625.56",
              format: "numeric"
            },
            {
              text: "£755,699.44",
              format: "numeric"
            },            
            {
              text: "£2,267,325.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Tailored learning"
            },
            {
              text: "£121,960.80",
              format: "numeric"
            },
            {
              text: "£60,971.20",
              format: "numeric"
            },            
            {
              text: "£182,932.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Innovative funding"
            },
            {
              text: "£50,523.21",
              format: "numeric"
            },
            {
              text: "£25,257.79",
              format: "numeric"
            },            
            {
              text: "£75,781.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Free courses for jobs"
            },
            {
              text: "£98,504.27",
              format: "numeric"
            },
            {
              text: "£49,244.75",
              format: "numeric"
            },            
            {
              text: "£147,749",
              format: "numeric"
            }
          ],
          [
            {
              text: "Continuing learners in newly devolved areas - adult skills core (indicative)"
            },
            {
              text: "£0.00",
              format: "numeric"
            },
            {
              text: "£0.00",
              format: "numeric"
            },            
            {
              text: "£0.00",
              format: "numeric"
            }
          ],
          
          [
            {
              text: "Continuing learners in newly devolved areas - tailored learning (indicative)"
            },
            {
              text: "£0.00",
              format: "numeric"
            },
            {
              text: "£0.00",
              format: "numeric"
            },            
            {
              text: "£0.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Continuing learners in newly devolved areas - free courses for jobs (indicative)"
            },
            {
              text: "£87.64",
              format: "numeric"
            },
            {
              text: "£44.36",
              format: "numeric"
            },            
            {
              text: "£132.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Total"
            },
            {
              text: "£1,782,701.46",
              format: "numeric"
            },
            {
              text: "£891,217.54",
              format: "numeric"
            },            
            {
              text: "£2,673,919.00",
              format: "numeric"
            }
          ]
        ]
    }) }}
    </div>
 
    <!-- Custom save or print this statement 'component' (taken from live site) -->
  
    <div class="govuk-grid-column-two-thirds">
      <p>
        You can find information about how allocations are calculated and what to do if something does not look right on <a href="">GOV.UK</a>.
      </p>
    <!-- <h3 class="govuk-heading-m">
      Allocation history
    </h3>
    <p class="govuk-body">
      <a class="govuk-link" href="#">
        View history of allocated funding
      </a>
    </p> -->
    <h3 class="govuk-heading-m">
      Save or download your allocation statement
    </h3>
    <p class="govuk-body">
      <a class="govuk-link" href="#">
        <img src="/public/images/print-icon.png" alt="Print icon" width="32" class="govuk-!-margin-right-1" style="transform: translateY(5px);" />Save or print this statement
      </a>
    </p>

    <div class="govuk-body">
      <p style="margin-top: -15px;">
        <a class="govuk-link" href="#"><img src="/public/images/document-trans.png" alt="Download icon" width="32" class="govuk-!-margin-right-1" style="transform: translateY(15px); z-index: 0; position: relative;"/>Download the funding data provided in this statement (CSV)</a>
      </p>
      <p>
        You may need a different format if you're using assistive technology. <a href="#">Request an accessible format</a>.
      </p>
    </div>
  </div>

</div>
{% endblock %}
