{% extends "layouts/main.html" %} 
{% set pageName="Adult skills fund for academic year 2025 to 2026 - allocation statement" %}
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "../../../research-rounds/round-6-calcs"
}) }} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <!-- LEFT HAND COLUMN -->
  <div class="govuk-grid-column-full">
    <!-- Heading with caption -->
    <span class="govuk-caption-l">Published: 12 March 2025. <span><strong>Version
          1 </strong></span></span>
    <h1 class="govuk-heading-xl">Adult skills fund for academic year 2025 to 2026</h1>
    <h2 class="govuk-caption-l">Total allocation</h2>
    <span class="govuk-heading-l">£4,247,865.00</span>
    <!-- Table 1 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "Summary allocation",
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: false,
      head: [
        {
          text: "Funding period"
        },
        {
          text: "Sub-total",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "August 2025 to March 2026"
          },
          {
            text: "£2,832,051.57",
            format: "numeric"
          }
        ],
        [
          {
            text: "April 2026 to July 2026"
          },
          {
            text: "£1,415,813.39",
            format: "numeric"
          }
        ]
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <!-- Table 2 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Detailed breakdown",
        captionClasses: "govuk-table__caption--m",
              classes: "govuk-!-margin-bottom-9",
        firstCellIsHeader: false,
        head: [
          {
            text: "Funding line item"
          },
          {
            text: "August 2025 to March 2026",
            format: "numeric"
          },
          {
            text: "April 2026 to July 2026",
            format: "numeric"
          },
          {
            text: "Sub-total",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Adult skills core"
              
            },
            {
              text: "£1,305,059.89",
              format: "numeric"
            },
            {
              text: "£652,432.07",
              format: "numeric"
            },            
            {
              text: "£1,957,492.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Tailored learning"
            },
            {
              text: "£1,460,970.37",
              format: "numeric"
            },
            {
              text: "£730,375.62",
              format: "numeric"
            },            
            {
              text: "£2,191,346.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Innovative provision"
            },
            {
              text: "£0.00",
              format: "numeric"
            },
            {
              text: "£0.00",
              format: "numeric"
            },            
            {
              text: "£0.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Free courses for jobs"
            },
            {
              text: "£66,021.31",
              format: "numeric"
            },
            {
              text: "£33,005.70",
              format: "numeric"
            },            
            {
              text: "£99,027.00",
              format: "numeric"
            }
          ],
          [
            {
              html: "<strong>Total</strong>"
            },
            {
              html: "<strong>£2,832,051.57</strong>",
              format: "numeric"
            },
            {
              html: "<strong>£1,415,813.39</strong>",
              format: "numeric"
            },            
            {
              html: "<strong>£4,247,865.00</strong>",
              format: "numeric"
            }
          ]
        ]
    }) }}
    </div>
    <div class="govuk-grid-column-full">
       <!-- Table 3 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "Calculation factors",
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: false,
      head: [
        {
          text: "Adult skills fund grant calculations"
        },
        {
          text: "Value",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "Total including rate changes"
          },
          {
            text: "£4,415,334",
            format: "numeric"
          }
        ],
        [
          {
            text: "Baseline allocation"
          },
          {
            text: "£4,381,954",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery percentage for academic year 2023 to 2024"
          },
          {
            text: "97%",
            format: "numeric"
          }
        ],[
          {
            text: "Delivery for 2024 to 2025"
          },
          {
            text: "£4,504,325",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery for 2023 to 2024"
          },
          {
            text: "£4,443,917",
            format: "numeric"
          }
        ],
        [
          {
            text: "Allocation for academic year 2023 to 2024"
          },
          {
            text: "£4,504,803",
            format: "numeric"
          }
        ],
        [
          {
            text: "2025 to 2026 funding rate changes using 2023 to 2024 delivery"
          },
          {
            text: "£33,380",
            format: "numeric"
          }
        ],
        [
          {
            text: "Non-devolved total"
          },
          {
            text: "£4,413,658",
            format: "numeric"
          }
        ],
        [
          {
            text: "Adult skills fund core non-devolved"
          },
          {
            text: "£2,084,115",
            format: "numeric"
          }
        ],
        [
          {
            text: "Adult skills core devolved funding removed"
          },
          {
            text: "-£1,677",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery percentage in newly devolved area"
          },
          {
            text: "0.08%",
            format: "numeric"
          }
        ],
        [
          {
            text: "Tailored learning non-devolved"
          },
          {
            text: "£2,331,219",
            format: "numeric"
          }
        ],
        [
          {
            text: "Adjustments total"
          },
          {
            text: "£4,148,838",
            format: "numeric"
          }
        ],
        [
          {
            text: "Adult skill fund core with affordability factor applied"
          },
          {
            text: "£1,957,492",
            format: "numeric"
          }
        ],
        [
          {
            text: "Tailored learning with affordability factor applied"
          },
          {
            text: "£2,191,346",
            format: "numeric"
          }
        ] 
      ]
      
    }) }}
  </div>


  <div class="govuk-grid-column-full">
      <!-- Table 4 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "",
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: false,
      head: [
        {
          text: "Free courses for jobs grant calculations"
        },
        {
          text: "Value",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "Free courses for jobs including rate changes"
          },
          {
            text: "£99,027",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery percentage for 2024 to 2025"
          },
          {
            text: "110%",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery for 2024 to 2025"
          },
          {
            text: "£87,441",
            format: "numeric"
          }
        ],[
          {
            text: "Allocation for academic year 2024 to 2025"
          },
          {
            text: "£79,622",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery percentage for 2023 to 2024"
          },
          {
            text: "58%",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery for 2023 to 2024"
          },
          {
            text: "£75,720",
            format: "numeric"
          }
        ],
        [
          {
            text: "Allocation for academic year 2023 to 2024"
          },
          {
            text: "£130,443",
            format: "numeric"
          }
        ],
        [
          {
            text: "Delivery adjusted for 2024 to 2025 devolved areas"
          },
          {
            text: "£87,441",
            format: "numeric"
          }
        ],
        [
          {
            text: "Baseline allocation"
          },
          {
            text: "£87,441",
            format: "numeric"
          }
        ],
        [
          {
            text: "2025 to 2026 funding rate changes using 2023 to 2024 delivery"
          },
          {
            text: "£11,587",
            format: "numeric"
          }
        ]
      ]
      
    }) }}
  </div>
 
    <!-- Custom save or print this statement 'component' (taken from live site) -->
  
  <div class="govuk-grid-column-two-thirds">
      <p>
        For more information about how your allocation is calculated and what to do if something does not look right, you can read the <a href="https://www.gov.uk/government/collections/funding-allocations-and-performance-management-for-providers">funding and allocations guidance (opens in a new tab)</a>.
      </p>

      <h3 class="govuk-heading-m">
        Save or download your allocation statement
      </h3>
      <p class="govuk-body">
        <a class="govuk-link" href="javascript:window.print()">
          <img src="/public/images/print-icon.png" alt="Print icon" width="32" class="govuk-!-margin-right-1" style="transform: translateY(5px);" />Save or print this statement
        </a>
      </p>

      <div class="govuk-body">
        <p style="margin-top: -15px;">
          <a class="govuk-link" href="/public/files/90000000_adult_skills_fund_2025_2026_version1.csv"><img src="/public/images/document-trans.png" alt="Download icon" width="32" class="govuk-!-margin-right-1" style="transform: translateY(15px); z-index: 0; position: relative;"/>Download the funding data provided in this statement (CSV)</a>
        </p>

        <div class="govuk-body">
        <p style="margin-top: -15px;">
          <a class="govuk-link" href=""><img src="/public/images/document-trans.png" alt="Download icon" width="32" class="govuk-!-margin-right-1" style="transform: translateY(15px); z-index: 0; position: relative;"/>Download the calculation data provided in this statement (CSV)</a>
        </p>

        <p>
          You may need a different format if you're using assistive technology. <a href="https://customerhelpportal.education.gov.uk/">Request an accessible format</a>.
        </p>
        </div>
      </div>

</div>
{% endblock %}
