{% extends "layouts/main.html" %} 
{% set pageName="Adult skills fund for academic year 2025 to 2026" %} 
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 

{% endblock %} 

{% block content %}


  <!-- Heading with caption -->
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Manage your education and skills funding</h1>

    
<div class="dfe-grid-container">
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="allocation-index" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Allocation statements
                </a>
            </h3>
            <p>View statements</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Contracts and agreements
                </a>
            </h3>
            <p>View contracts</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Funding claims
                </a>
            </h3>
            <p>View claims and statements</p>
          </div>
          
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Subcontractor declaration
                </a>
            </h3>
            <p>Manage your declarations</p>
          </div>
          
      </div><div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Payment history
                </a>
            </h3>
            <p>View payments</p>
          </div>
          
      </div><div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="index" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Funding information
                </a>
            </h3>
            <p>View allocations, payment schedules and payment histories by funding stream</p>
          </div>
          
      </div>
  </div>
  </div> 


   
{% endblock %}
