{% extends "layouts/main.html" %} 
{% set pageName="Advanced learner loans for academic year 2025 to 2026" %} 
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "../../../research-rounds/round-5" } ] }) }}  
{% endblock %} 

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--m">
  <!-- Heading with caption -->
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Allocation statements</h1>
      <p class="govuk-caption-s govuk-!-margin-bottom-8">If you need a statement in a different format, you can contact the <a href="#">Customer Help Portal.</a></p>
  <!-- Statement list -->
   <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="hub-2-prof-payment-schedule" class="govuk-link">Adult skills fund for 2025 to 2026</a>
          <p class="govuk-body govuk-!-margin-top-2">2 July 2025 version 2</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£3,406,785.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="hub-1-prof-pre-contract.html" class="govuk-link">Adult skills fund for 2025 to 2026</a>
          <p class="govuk-body govuk-!-margin-top-2">24 April 2025 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£3,364,211.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="#" class="govuk-link">Advanced learner loans for 2025 to 2026</a>
          <p class="govuk-body govuk-!-margin-top-2">3 April 2025 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£909,648.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="#" class="govuk-link">Non-levy apprenticeship for 2025 to 2026</a>
          <p class="govuk-body govuk-!-margin-top-2">6 February 2025 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£24,200.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="#" class="govuk-link">Apprenticeship carry-in for 2024 to 2025</a>
          <p class="govuk-body govuk-!-margin-top-2">11 July 2024 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£1,000.00</h3>
      </div>
    </div>
  </div>
  </main>
</div>  
{% endblock %}
