{% extends "layouts/main.html" %} 
{% set pageName="Advanced learner loans for academic year 2025 to 2026" %} 
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "javascript:history.back()" }, { text: "Allocation statements", href: "../../../research-rounds/round-5" }, { text: "Adult skills fund 2025 to 2026", href: "hub-2-prof-payment-schedule" } ] }) }} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <!-- LEFT HAND COLUMN -->
  <div class="govuk-grid-column-full">
    <!-- Heading -->
    <h1 class="govuk-heading-xl">Payment schedule for Adult skills fund for academic year 2025 to 2026</h1>
    <p class="govuk-body-l">Payment schedules for this funding stream can be downloaded on this page.</p>
  
    <!-- Table 1 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: false,
      head: [
        {
          text: "Master contract number"
        },
        { text: "Contract version"
        },
        {
          text: "Date published"
        },
        { 
          text: "Status"
        },
        {
          text: "Download (csv)"
        }

      ],
      rows: [
        [
          {
            text: "DFE-12345",
            classes: "govuk-!-padding-top-4"
          },
          {
            text: "2",
            classes: "govuk-!-padding-top-4"
          },
          {
            text: "4 July 2025",
            format: "date",
            classes: "govuk-!-padding-top-4"
          },
          {
            html: govukTag({
            text: "Latest", 
            classes: "govuk-tag--blue"}),
            classes: "govuk-!-padding-top-4"
          },
          { 
          html: govukButton({
          text: "Download",
          href: "/downloads/v2.csv",
          classes: "govuk-button--secondary"}),
          classes: "govuk-!-padding-top-3" 
          }
        ]
      ]
    }) }}
  </div>
{% endblock %}
