{% extends "layouts/main.html" %} 
{% set pageName="Home" %} 

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "#" }, { text: "Allocation statements", href: "#" } ] }) }} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <!-- LEFT HAND COLUMN -->
  <div class="govuk-grid-column-full">
    <!-- Heading with caption -->
    <span class="govuk-caption-l">Published: 19 March 2025. <span><strong>Version
          1 </strong></span><span><strong class="govuk-tag" style="display: inline; margin-left: 5px;">Latest</strong></span></span>
    <h1 class="govuk-heading-xl">Advanced learner loans for academic year 2025 to 2026</h1>
    <h2 class="govuk-caption-l">Total allocation</h2>
    <span class="govuk-heading-l">£5,418.00</span>
    <!-- Table 1 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "Summary allocation",
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: true,
      head: [
        {
          text: "Description"
        },
        {
          text: "Amount",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "August 2025 to March 2026"
          },
          {
            text: "£3,215.76",
            format: "numeric"
          }
        ],
        [
          {
            text: "April 2026 to July 2026"
          },
          {
            text: "£2,202.24",
            format: "numeric"
          }
        ]
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <!-- Table 2 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Detailed allocation",
        captionClasses: "govuk-table__caption--m",
              classes: "govuk-!-margin-bottom-9",
        firstCellIsHeader: true,
        head: [
          {
            text: "Description"
          },
          {
            text: "August 2025 to March 2026",
            format: "numeric"
          },
          {
            text: "April 2026 to July 2026",
            format: "numeric"
          },
          {
            text: "Sub-total",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Advanced learner loans facility"
            },
            {
              text: "£895.76",
              format: "numeric"
            },
            {
              text: "£522.24",
              format: "numeric"
            },            
            {
              text: "£1,418.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Advanced learner loans bursary"
            },
            {
              text: "£2,300.00",
              format: "numeric"
            },
            {
              text: "£1,680.00",
              format: "numeric"
            },            
            {
              text: "£4,000.00",
              format: "numeric"
            }
          ],
          [
            {
              text: "Total"
            },
            {
              text: "£3,215.76",
              format: "numeric"
            },
            {
              text: "£2,202.24",
              format: "numeric"
            },            
            {
              text: "£5,418.00",
              format: "numeric"
            }
          ]
        ]
    }) }}
    </div>

    <!-- Custom save or print this statement 'component' (taken from live site) -->
   
    <div class="govuk-grid-column-two-thirds">
      <p>
        To find out more about Advanced learner loans and how allocations are calculated, visit the GOV.UK website.
      </p>
    <h3 class="govuk-heading-m">
      Submit a business case
    </h3>
    <p class="govuk-body">
      You can <a href="#" class="govuk-link">submit a business case (opens in a new tab)</a> if you believe your funding allocation is incorrect.
    </p>
    <h3 class="govuk-heading-m">
      Allocation history
    </h3>
    <p class="govuk-body">
      <a class="govuk-link" href="#">
        View history of allocated funding
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">
        <img src="/public/images/print-icon.png" alt="Print icon" width="32" class="govuk-!-margin-right-1" style="transform: translateY(5px);" />Save or print this statement (PDF)
      </a>
    </p>

    <div class="govuk-body">
      <p style="margin-top: -15px;">
        <a class="govuk-link" href="#"><img src="/public/images/document-trans.png" alt="Download icon" width="32" class="govuk-!-margin-right-1" style="transform: translateY(15px); z-index: 0; position: relative;"/>Download this statement data (CSV, 208KB)</a>
      </p>

    </div>

</div>
{% endblock %}
