{% extends "layouts/main.html" %} 
{% set pageName="Adult skills fund for academic year 2025 to 2026" %} 
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "/prototype/v6/index/myesf-dashboard" }, { text: "Choose funding information publishing date", href: "/prototype/v7/index/index-triage" }, { text: "Funding information", href: "/prototype/v6/index/index" }  ] }) }} 
{% endblock %} 

{% block content %}


  <!-- Heading with caption -->
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Adult skills fund: funding overview for academic year 2026 to 2027</h1>
    </div>
    </div>
    <div class="govuk-grid-row">
  <!-- LEFT HAND COLUMN -->
    <div class="govuk-grid-column-one-half">
    <!-- Allocation amount & version -->
      <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Total allocation</h2>
      <p class="govuk-heading-xl govuk-!-margin-bottom-1">£4,247,865.00</p>
      <p class="govuk-body">Last updated : 10 May 2026 <strong class="govuk-secondary-text-color">Version 2</strong></p>
  
    </div>
    <!-- RIGHT HAND COLUMN -->
    <div class="govuk-grid-column-one-half">
       <!-- Table 1 -->
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      caption: "Summary allocation",
      captionClasses: "govuk-table__caption--m",
      classes: "govuk-!-margin-bottom-9",
      firstCellIsHeader: false,
      head: [
        {
          text: "Funding period"
        },
        {
          text: "Sub-total",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "August 2026 to March 2027"
          },
          {
            text: "£2,832,051.57",
            format: "numeric"
          }
        ],
        [
          {
            text: "April 2027 to July 2027"
          },
          {
            text: "£1,415,813.39",
            format: "numeric"
          }
        ],
        [
          {
            html: "<strong>Total</strong>"
          },
          {
            html: "<strong>£4,247,865.00</strong>",
            format: "numeric"
          }
        ],
      [
      ]
      ]
    }) }}
    
    </div>
  </div>

<!-- Hub cards -->

<div class="dfe-grid-container">
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="/prototype/v7/calculations/asf-mvp-calcs-allocation" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                Allocation statement
              </a>
            </h3>
            <p>View and download a detailed breakdown of all allocation statements from this funding period.</p>
          </div>
      </div>
         <!-- Inactive Card -->
      <div class="dfe-card disabled-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                Payment schedule
            </h3>
            <p class="govuk-body">Available once your contract has been released.</p>
            <p><strong class="govuk-tag govuk-tag--grey">
          Not yet available
        </strong> </p>
          </div>
      </div>
      <div class="dfe-card disabled-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                Payment history
            </h3>
            <p class="govuk-body">Available once you start to receive payments.</p>
            <p><strong class="govuk-tag govuk-tag--grey">
          Not yet available
        </strong> </p>
          </div>
      </div>
  </div>
  </div> 


   
{% endblock %}
