{% extends "layouts/main.html" %}

{% set pageName="Allocations" %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/../index.html"
      },
      {
        text: "Your funding",
        href: "funding-dashboard.html"
      },
      {
        text: "Allocations",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row rowBorderList">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Allocations
    </h1>
<div class="govuk-grid-row rowBorders govuk-!-padding-top-3">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-heading-s">General annual grant (GAG): academic year 2025 to 2026</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-heading-s govuk-table__cell--numeric">£1,882,500.66</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-s">Published: 1 September 2024</p>
  </div>
</div>
<div class="govuk-grid-row rowBorders govuk-!-padding-top-3 govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s">High value courses premium funding</h2>
    </div>
        <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-s">Published: 1 September 2024</p>
  </div>
</div>
<a href="#" class="govuk-link">Analyse your allocations data (PowerBI, opens in new tab)</a>
</div>
</div>
{% endblock %}