{% extends "layouts/main.html" %}

{% set pageName="Research round #7" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Research round #7
    </h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="../../prototype/v5-2/calculations/table-asf-allocation-calc-factors.html">Adult skills fund</a>
      </li>
      <li>
         <a class="govuk-link" href="../../prototype/v5-2/calculations/table-all-allocation-calc-factors.html">Advanced learner loans</a>
      </li>
    </ul>
    
</div>


{% endblock %}