{% extends "layouts/main.html" %}

{% set pageName="Research round #8" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Research round #8
    </h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="../../prototype/v8/index/myesf-dashboard">MYESF journey</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v8/calculations/asf-mvp-calcs-allocation-v3-comparison">Comparison activity</a>
      </li>
    </ul>
    
</div>


{% endblock %}