{% extends "layouts/main.html" %}

{% set pageName="Research round #9" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Research round #9
    </h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="../../prototype//v9/minimal-grouped-calculations">Calculations 1</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="../../prototype/v9/detailed-grouped-calculations">Calculations 2</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="../../prototype/v9/ungrouped-calculations" >Calculations 3</a>
      </li>
      
    </ul>
    
</div>


{% endblock %}