{% extends "layouts/main.html" %}

{% set pageName="Research round #5" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Research round #5
    </h1>
  
    <h2 class="govuk-heading-l">Allocation statements</h2>
    <ul class="govuk-list">
       <li>
        <a class="govuk-link" href="../../prototype/v4/profile/allocation-index-prof-1">Profile index page: April</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/profile/allocation-index-prof-2">Profile index page: July</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/profile/allocation-index-prof-3">Profile index page: December</a>
      </li>
      <br>
      <li>
        <a class="govuk-link" href="../../prototype/v4/actuals/allocation-index-actuals-1">Actuals index page: April</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/actuals/allocation-index-actuals-2">Actuals index page: July</a>
      </li>
       <li>
        <a class="govuk-link" href="../../prototype/v4/actuals/allocation-index-actuals-3">Actuals index page: December</a>
      </li>
      </ul>

    
</div>


{% endblock %}