{% extends "layouts/main.html" %}

{% set pageName="Research round #6" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Research round #6
    </h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="../../prototype/v5-1/calculations/calcs-allocation-concept-1.html">Concept 1</a>
      </li>
      <li>
         <a class="govuk-link" href="../../prototype/v5-1/calculations/calcs-allocation-concept-2.html">Concept 2</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v5-1/calculations/calcs-allocation-concept-3.html">Concept 3</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v5-1/calculations/calcs-allocation-concept-4.html">Concept 4</a>
      </li>
    </ul>
    
</div>


{% endblock %}