{% extends "layouts/main.html" %}

{% set pageName="Research round #1" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Research round #2
    </h1>
  
    <h2 class="govuk-heading-l">Allocation statements</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=1619">16 - 19</a>
      </li>

      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=DADA">Dance and drama award</a>
      </li>
    
      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=DSG">Dedicated school grant</a>
      </li>

      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=PSG">PE and Sport premium grant</a>
      </li>

      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=1416">14 - 16</a>
      </li>

      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=LAREC">LA recoupment</a>
      </li>

      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=RPA">Risk protection arrangements</a>
      </li>

      <li>
        <a class="govuk-link" href="../prototype/v2.2/statement-from-api?fundingStreamId=UIFSM">Universal infant free school meals</a>
      </li>
    </ul>
</div>


{% endblock %}