{% extends "layouts/main.html" %}

{% set pageName="Research round #9" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Research round #10
    </h1>
    <h2 class="govuk-caption-l govuk-!-margin-bottom-6">
      Calculation operations - pupil premium
    </h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="../../prototype/v10/pupil-premium-calc-ops.html">Calculations 1</a>
      </li>  
    </ul>
    
</div>


{% endblock %}