{% extends "layouts/main.html" %}

{% set pageName="Research round #5" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Research round #5
    </h1>
  
    <h2 class="govuk-heading-l">Allocation statements</h2>
    <ul class="govuk-list">
       <li>
        <a class="govuk-link" href="../../prototype/v4/profile/allocation-index-prof">Profile index page 1</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/profile/hub-1-prof-pre-contract">ASF profile hub 1</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/profile/hub-2-prof-payment-schedule">ASF profile hub 2</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/profile/hub-3-prof-payment-history">ASF profile hub 3</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/actuals/allocation-index-actuals">Actuals index page 1</a>
      </li>
       <li>
        <a class="govuk-link" href="../../prototype/v4/actuals/hub-1-actuals-pre-contract">ASF actuals hub 1</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/actuals/hub-2-actuals-payment-schedule">ASF actuals hub 2</a>
      </li>
      <li>
        <a class="govuk-link" href="../../prototype/v4/actuals/hub-3-actuals-payment-history">ASF actuals hub 3</a>
      </li>
      </ul>

    
</div>


{% endblock %}