{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">A prototype to experiment in as part of the Communicating Funding alpha phase.</p>
    <h2 class="govuk-heading-l">Interim work</h2>
    <ul class="govuk-list">
      <li>
    <a class="govuk-link" href="interim-work/funding-dashboard.html">Funding dashboard</a>
  </li>
  <li>
    <a class="govuk-link" href="interim-work/allocations.html">Allocations</a>
  </li>
  <li>
    <a class="govuk-link" href="interim-work/payments.html">Payments</a>
  </li>
    <li>
    <a class="govuk-link" href="interim-work/remittances.html">Remittances</a>
  </li>
    </ul>
  </div>
</div>


{% endblock %}
