{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">A prototype to experiment in as part of the Communicating Funding alpha phase.</p>
    <h2 class="govuk-heading-l">Prototype</h2>
    <h3 class="govuk-heading-m">Version 1</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="prototype/v1/statement.html">Allocation statement - Data-driven concept</a>
      </li>
    </ul>
    <h3 class="govuk-heading-m">Version 2.0</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="prototype/v2/statement.html">Allocation statement - componentised layout</a>
      </li>
      <li>
        <a class="govuk-link" href="prototype/v2/statement-asf.html">Allocation statement - ASF example</a>
      </li>
      <li>
        <a class="govuk-link" href="prototype/v2/statement-all.html">Allocation statement - ALL example</a>
      </li>
    </ul>

    <h3 class="govuk-heading-m">Version 2.1</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="prototype/v2.1/statement-from-api?fundingStreamId=ASF">Allocation statement (CFS) - Adult Skills Fund (ASF)</a>
      </li>
      <li>
        <a class="govuk-link" href="prototype/v2.1/statement-from-api?fundingStreamId=DSG">Allocation statement (CFS) - Dedicated Schools Grant (DSG)</a>
      </li>

      <li>
        <a class="govuk-link" href="prototype/v2.1/statement-from-api?fundingStreamId=ALL">Allocation statement (CFS) - Advanced Learner Loans (ALL)</a>
      </li>
      
    </ul>

    

    <h2 class="govuk-heading-l">Research round landing pages</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="research-rounds/round-1.html">Round 1</a>
      </li>
    </ul>

    <h2 class="govuk-heading-l">Interim work</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="interim-work/funding-dashboard.html">Funding dashboard</a>
      </li>
      <li>
        <a class="govuk-link" href="interim-work/allocations.html">Allocations</a>
      </li>
      <li>
        <a class="govuk-link" href="interim-work/payments.html">Payments</a>
      </li>
      <li>
        <a class="govuk-link" href="interim-work/remittances.html">Remittances</a>
      </li>
    </ul>
  </div>
  
</div>


{% endblock %}