{% extends "layouts/main-index.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Communicating funding prototype
    </h1>
    <p class="govuk-body">A prototype to experiment in as part of the Communicating Funding alpha and beta phases. 
      During this time, wee have tested and iterated five pages which deliver funding information to providers using data driven design patterns.</p>
  </div>
</div>
<div class="govuk-grid-row">
    <br>
    <br>
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m"> Beta PI16: calculations with factors and operations</h3>
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Reasoning</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 6.1</th>
          <td class="govuk-table__cell">1 July 2026</td>
          <td class="govuk-table__cell">pending</td>
          <td class="govuk-table__cell">
            <p><b>Calculations and the 16 to 19 statement </b></p>
            <p>In UR1, we will be testing three versions of a 16 to 19 allocation statement that includes varying levels of calculations and structures. This includes:</p>
              <ul>
              <li><b>Minimal grouped:</b> this includes the ‘first’ level of calculations for each funding line. We use the funding line name for the table headings.</li>
              <li><b>Detailed grouped:</b> this includes the ‘first’ and ‘second’ level of calculations for each funding line. We use both the funding line name and headings from the pdf for the table headings. </li>
              <li><b>Ungrouped:</b> this is based on the assumption that calculations can be shown in a logical order. It will follow the same approach as the calculation factor MVP where each factor listed also refers to the funding line. </li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <br>
            <a class="govuk-button govuk-button--secondary" href="/prototype/v9/minimal-grouped-calculations.html">Minimal grouped calculations</a>
            <br>
            <a class="govuk-button govuk-button--secondary" href="/prototype/v9/detailed-grouped-calculations.html">Detailed grouped calculations</a>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
<div class="govuk-grid-row">
    <br>
    <br>
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m"> Beta PI15: funding index journey, access to guidance & calculation factors</h3>
      <p>Building on PI13 & PI14, where we introduced a data‑driven, consolidated funding experience, we needed to ensure this new experience
         can co‑exist alongside the existing experience. While it improves access to more connected and reliable funding data, users still rely on the current system for historical data, audits, and wider financial processes.</p>
        <p>The allocation statement has also been iterated now displaying calculation factors and statement version history,
         helping users better understand how their allocation has been calculated and track what has changed over time.</p>
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Reasoning</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">MVP/Version 5.3</th>
          <td class="govuk-table__cell">26 May 2026</td>
          <td class="govuk-table__cell">Partially tested</td>
          <td class="govuk-table__cell">
            <p><b>Calculation factors MVP and a holistic funding journey</b></p>
            <p>Due to technical constraints, our MVP for this PI follows an unstructured approach. Calculation
               factors will show in the statement if they are:</p>
              <ul>
              <li>given an external calculation factor name in CFS by Funding Operations.</li>
              <li>not a value of 0 or null</li>
            </ul>
          <p>In summary, our MVP for this new version of the allocation statement includes:</p>
            <ul>
              <li>statement history, allowing users to view older versions of the statement</li>
              <li>calculation factors</li>
              <li>improved access to guidance</li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v8/calculations/asf-mvp-calcs-allocation-v3-comparison">MVP calculation factors</a>
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v8/index/myesf-dashboard">Funding index journey</a>
            <br>
            <br>
          </td>
        </tr>
       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 5.2</th>
          <td class="govuk-table__cell">13 April 2026</td>
          <td class="govuk-table__cell">Tested & iterated</td>
          <td class="govuk-table__cell">
            <p><b>Funding index and access to guidance</b></p>
            <ul>
              <li>updated content on MYESF home page</li>
              <li>Simplified triage page, moving GAG triage one step earlier in journey</li>
              <li>updated the the URL for the guidance link to reflect a scalable and low effort implementation solution. </li>
            </li>
            </ul>
            <p><b>Calculation factors: testing our prioritised design concept (grouped and ordered calcs)</b></p>
            <p>In this version, we have:</p>
            <ul>
              <li>factors grouped by funding line and ordered to align with how the calculation operations would be carried out. </li>
              <li>the details component to allow users to show and hide calculation factors.</li>
              <li>increased spacing between groups of factors.</li>
              <li>guidance link moved higher up on page.</li>
              <li>new ODS file download link, replacing CSV download link.</li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-1/index/myesf-dashboard">Funding index journey</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-2/calculations/table-all-allocation-calc-factors">Structured factors: ASF</a>
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-2/calculations/table-asf-allocation-calc-factors">Structured factors: ALL</a>
            <br>
          </td>
        </tr>
        <tr class="govuk-table__row">
        <tbody class="govuk-table__body">
          <th scope="row" class="govuk-table__header">Version 5.1</th>
          <td class="govuk-table__cell">11 March 2026</td>
          <td class="govuk-table__cell">Tested & iterated</td>
          <td class="govuk-table__cell">
            <p><b>Funding index and access to guidance</b></p>
            <ul>
              <li>added a new index page to list the funding hub pages</li>
              <li>added a card to the MYESF dashboard to route to the new index page</li>
              <li>reorganised how users can access other versions of their allocation statement</li>
              <li>updated the content and URL for the guidance link</li>
            </ul>
            <p><b>Calculation factors: early concept exploration</b></p>
            <p>We designed and tested four different design concepts for showing calculation factors to users. This included:</p>
            <ul>
              <li>Concept 1: less refined in that it shows calculation facotrs in the order they are received from CFS and is only grouped by grant type, not funding line.</li>
              <li>Concepts 2-4: explore different approaches to showing calculation factors that are ordered and grouped by funding line.</li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-1/index/myesf-dashboard">Funding index journey</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-1/calculations/calcs-allocation-concept-1">Calculations concept 1</a>
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-1/calculations/calcs-allocation-concept-2">Calculations concept 2</a>
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-1/calculations/calcs-allocation-concept-3">Calculations concept 3</a>
            <br>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v5-1/calculations/calcs-allocation-concept-4">Calculations concept 4</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>

  <div class="govuk-grid-column-full">
  <h3 class="govuk-heading-m"> Beta PI14: hub & spoke: allocation statement, payment schedules & payment information</h3>
    <p>Starting with the Adult skills fund, we've developed an approach where funding streams have a dedicated 'Hub' page with
         an overview of allocation and links to statements, schedules, and payment history.</p>
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Reasoning</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
        <tr class="govuk-table__row">
        <tbody class="govuk-table__body">
          <th scope="row" class="govuk-table__header">Version 4.2 (MVP)</th>
          <td class="govuk-table__cell">24 February 2026</td>
          <td class="govuk-table__cell">Testing</td>
          <td class="govuk-table__cell">
            <p>In this version, we have:</p>
            <ul>
              <li>Updated hub card inactive states to improve accessibility - utilising a grey tag with 'not yet available'</li>
              <li>On 'Spoke pages (allocation, payment schedule, payment history pages) replaced breadcrumbs with the back link component.</li>
              <li>Revised description of link to 'view all payment lines'</li>
              <li>Added buttons to download a csv copy of payments for a specified date.</li>
              <li>Changed csv download all button to a link and moved to bottom of page.</li>
            </li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v4-2/hub-1-pre-contract">Pre-contract</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v4-2/hub-2-payment-schedule">Schedule released</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v4-2/hub-3-payment-history">Payment history available</a>
            <br/>
          <a class="govuk-button govuk-button--secondary" href="../../prototype/v4-2/data-maps/hub-data-map">Hub data mapping</a>
            <br/>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 4.1</th>
          <td class="govuk-table__cell">26 January 2026</td>
          <td class="govuk-table__cell">Tested & iterated</td>
          <td class="govuk-table__cell">
            <p>In this version, we have:</p>
            <ul>
              <li>Added a funding stream / funding period 'Hub' page, containing high level overview of allocation and links to related allocation statement, payment schedule and payment history.</li>
              <li>Displaying 'inactive' cards on 'home' page for payment schedule and payment history pages before the data becomes available.</li>
              <li>Added a funding stream specific payment schedule pages. Pulling the payment schedules out of contracts into a dedicated page as downloadable .CSVs including previously released versions.</li>
              <li>Added a funding stream specific payment history page which pulls through and displays the funding stream specific payment history from the Calculate Funding Service (CFS) and displays it on a single page.</li>
            </ul>
            <p>This version was taken through user research round 2 (Jan 2026) - <a href="https://educationgovuk.sharepoint.com/:p:/r/sites/lvewp00533/_layouts/15/Doc.aspx?sourcedoc=%7B11834ED8-AC63-4340-8000-2DD28239F3D5%7D&file=2026-2-6_PI14_UR2_research_playback_deck.pptx&action=edit&mobileredirect=true&wdOrigin=TEAMS-MAGLEV.null_ns.rwc&wdExp=TEAMS-TREATMENT&wdhostclicktime=1770736148362&web=1" target="_blank">see findings deck here</a></p>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v4/profile/hub-1-prof-pre-contract">Pre-contract</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v4/profile/hub-2-prof-payment-schedule">Schedule released</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v4/profile/hub-3-prof-payment-history">Payment history available</a>  
          </td>
        </tr>
       </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-full">
    <br>
    <br>
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">Beta PI13: allocation statement</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Reasoning</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row"></tr>
          <th scope="row" class="govuk-table__header">MVP</th>
          <td class="govuk-table__cell">11 November 2025</td>
          <td class="govuk-table__cell">Tested and iterated</td>
          <td class="govuk-table__cell">
            <p>The minimum valuable product for the data-driven allocation statement is informed by 3 rounds of user testing across alpha and private beta.</p>
            <ul>
              <li>
                designed as a pattern to be scaled out across Funding Service grants and funding streams, and used across the DfE to communicate funding information to end users
              </li>
              <li>
                data-driven using funding allocation data from the Calculate Funding Service
              </li>
              <li>
                private beta scoped to deliver adult funding allocations release for academic year 2026-2027 Advanced learner loans and Adult skills fund
              </li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <a href="prototype/mvp/statement-data-map" class="govuk-button govuk-button--secondary">MVP data map prototype</a>
            <br>
            <a href="prototype/mvp/statement-asf-act" class="govuk-button govuk-button--secondary">Adult skills fund (ASF)</a> 
            <br>
            <a href="prototype/mvp/statement-all" class="govuk-button govuk-button--secondary">Advanced learner loans (ALL)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 3.1</th>
          <td class="govuk-table__cell">16 October 2025</td>
          <td class="govuk-table__cell">Tested</td>
          <td class="govuk-table__cell">
            <p>In this version, we have:</p>
            <ul>
              <li>removed period initials (e.g. AS, AY, FY, etc.) from the statement heading</li>
              <li>introduced concept of public facing funding line names with the aim to make them more understandable to users</li>
              <li>reviewed and updated logic for showing or hiding 'null' values based on provder eligibility - we now show £0 values but hide lines with a null value</li>
              <li>changed guidance copy to make it more valuable to users</li>
              <li>removed the 'business case' section</li>
              <li>changed link text for both CSV and PDF links with the aim to make it clearer</li>
              <li>introduced a naming convention for downloadable CSV files</li>
              <li>changed download link icons</li>
              <li>moved the request and accessible format from CSV component level to section level.</li>
            </ul>
            <p>This version was taken through user research round 1 (beta)</p>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v3/statement-asf-grco-ind">ASF grant and contract for services (indicative)</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v3/statement-asf-grco-act">ASF grant and contract for services (actual)</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v3/statement-asf-ind">ASF grant only (indicative)</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../../prototype/v3/statement-asf-act">ASF grant only (actual)</a>
            <br/>
            <a class="govuk-button govuk-button--secondary" href="../prototype/v3/statement-all.html">ALL (everything)</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <br>
    <br>
    <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">Alpha phase: allocation statement</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Reasoning</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 2.1</th>
          <td class="govuk-table__cell">4 August 2025</td>
          <td class="govuk-table__cell">Iterated</td>
          <td class="govuk-table__cell">
            We created MVP API and added front-end filters to transform how data is presented.
            <br><br>This version uses data from the CFS staging environment to populate the components and patterns.
            <br><br>Minor iterations were made following the design critique
          </td>
          <td class="govuk-table__cell"><a href="prototype/v2.1/statement-from-api?fundingStreamId=ASF"
              class="govuk-button govuk-button--secondary">Adult Skills Fund (ASF)</a> <br><a
              href="prototype/v2.1/statement-from-api?fundingStreamId=DSG" class="govuk-button govuk-button--secondary">Dedicated Schools Grant
              (DSG)</a> <br><a href="prototype/v2.1/statement-from-api?fundingStreamId=ALL"
              class="govuk-button govuk-button--secondary">Advanced learner loans (ALL)</a> </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 2.0</th>
          <td class="govuk-table__cell">30 July 2025</td>
          <td class="govuk-table__cell">Iterated</td>
          <td class="govuk-table__cell">
            <p>Components and patterns defined in figma and mocked up (hard coded) in prototype kit</p>
            <ul>
              <li>
                Creating new page layouts from the component analysis and ideation. Considerations: handling multiple
                streams (tabbed or listed content), identifying which funding lines should be shown (type information or
                payment, excluding null values, has findingLineCode), defining how the data would map to the tables
              </li>
              <li>
                We tested statement templates with component sets and validated technical feasibility of the data-driven
                components
              </li>
              <li>
                We took these designs to a design critique
              </li>
            </ul>
          </td>
          <td class="govuk-table__cell"><a href="prototype/v2/statement.html" class="govuk-button govuk-button--secondary">Data mapping
              example</a> <br><a href="prototype/v2/statement-asf.html" class="govuk-button govuk-button--secondary">Adult skills fund
              example</a> <br><a href="prototype/v2/statement-all.html" class="govuk-button govuk-button--secondary">Advanced learner loans
              example</a> </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 1.1 to 1.3</th>
          <td class="govuk-table__cell">30 June to 8 July 2025</td>
          <td class="govuk-table__cell">Iterated</td>
          <td class="govuk-table__cell">
            <p>This version was iterated mostly in Figma before creating the final V1.3 in code</p>
            <ul>
              <li>
                Based on the assumptions and hypothesis generated at inception day and in line with the research
                approach agreed by the team.
              </li>
              <li>
                Adding in guidance copy, content improvements: adding dummy provider name and UKPRN, updating content to
                ensure it meets basic gov.uk style guidelines, updating content to ensure it meets basic accessibility
                requirements, updating the presentation of funding numbers to ensure they meet known user needs
              </li>
              <li>
                Team agreement that we can already disprove the idea that the raw data is usable because it is not
                accessible and does not meet basic gov uk content standards, and so do not need to test all of the data
                in its raw form. Also, with Anoop back from AL, he was able to add in some missing content, such as
                guidance links.
              </li>
              <li>
                Split out funding lines by time period, added more guidance content back in.
              </li>
              <li>
                We found out that previous technical constraints do not apply as expected; we can use improved table
                layout and include universal guidance links.
              </li>
            </ul>
          </td>
          <td class="govuk-table__cell"><a href="prototype/v1/statement.html" class="govuk-button govuk-button--secondary">Launch v1
              prototype</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <h2 class="govuk-heading-m">Research round landing pages (alpha)</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-1.html">Round 1</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-2.html">Round 2</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Research round landing pages (beta)</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-3.html">Round 3</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-5.html">Round 5</a>
      </li>
         <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-6-index.html">Round 6 - index page</a>
      </li>
      </li>
         <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-6-calcs.html">Round 6 - calculations</a>
      </li>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-7-index.html">Round 7 - index page</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-7-calcs.html">Round 7 - calculations</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-8.html">Round 8 - funding index & allocation statement with calculation factors</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="research-rounds/round-9.html">Round 9 - calculation operations</a>
      </li>
    </ul>

    
    <h2 class="govuk-heading-m">Design pattern</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="design-pattern/index.html">Show funding allocations - Version 1</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Interim work</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="interim-work/funding-dashboard.html">Funding dashboard</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="interim-work/allocations.html">Allocations</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="interim-work/payments.html">Payments</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="interim-work/remittances.html">Remittances</a>
      </li>
    </ul>

  <h2 class="govuk-heading-m">Calculation Factors data exploration </h2>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="prototype/calculations/v1/calculation-result-from-api.html">Calculation Factors - Data MVP v1</a>
    </li>
  </ul>

</div>


{% endblock %}