{% extends "layouts/main.html" %} 
{% set pageName="Advanced learner loans for academic year 2025 to 2026" %} 
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "javascript:history.back()" }, { text: "Allocation statements", href: "javascript:history.back()" } ] }) }} 
{% endblock %} 

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--m">
  <!-- Heading with caption -->
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Allocation statements</h1>
      <p class="govuk-caption-s govuk-!-margin-bottom-8">If you need a statement in a different format, you can contact the <a href="#">Customer Help Portal.</a></p>
  <!-- RIGHT HAND COLUMN -->
    <div class="govuk-grid--two-thirds">
      

    </div>
    </main>
</div>  


   
{% endblock %}
