{% extends "layouts/main.html" %} 
{% set pageName="Advanced learner loans for academic year 2025 to 2026" %} 
{% set pageName="Allocation statements" %} 
{% set fallbackPage="javascript:history.back()" %}

{% block beforeContent %} 
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %} 
{{ govukBreadcrumbs({ items: [ { text: "Home", href: "../../../research-rounds/round-5" } ] }) }} 
{% endblock %} 

{% block content %}

  <!-- Heading with caption -->
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Allocation statements</h1>
      <p class="govuk-body">If you need a statement in a different format, you can contact the <a href="#">Customer Help Portal.</a></p>
    </div>
    </div>
  <!-- Statement list -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="hub-2-actuals-payment-schedule" class="govuk-link">Adult skills fund for 2025 to 2026</a>
          <p class="govuk-body govuk-!-margin-top-2">2 July 2025 version 2</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£2,000,411.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="#" class="govuk-link">Adult skills fund for 2025 to 2026</a>
          <p class="govuk-body govuk-!-margin-top-2">15 March 2025 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£1,861,092.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="#" class="govuk-link">ESFA adult skills fund for 2024 to 2025</a>
          <p class="govuk-body govuk-!-margin-top-2">20 June 2024 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£2,496,460.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="#" class="govuk-link">Advanced learner loans for 2024 to 2025</a>
          <p class="govuk-body govuk-!-margin-top-2">21 March 2024 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£26,631.00</h3>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   <div class="govuk-grid-row">
      <div class="card-container">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-heading-m">
          <a href="#" class="govuk-link">Non-levy apprenticeship for 2024 to 2025</a>
          <p class="govuk-body govuk-!-margin-top-2">12 February 2024 version 1</p>
        </div>
      <div class="govuk-grid-column-one-third">
          <span class="govuk-heading-m govuk-!-text-align-right">£1,000.00</h3>
      </div>
    </div>
  </div>

{% endblock %}
